@import '../_includes';

body {
  display: flex;
  padding: 3%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: background-color .3s linear;
  background-color: #101010;
}

.info-wrapper {
  margin-left: -4rem;
  transform: rotate(90deg);
  .email,
  .phone,
  .job-title {
    font-size: 2rem;
    font-weight: 400;
    color: #ffffff;
  }

  .job-title {
    margin-left: 4rem;
    font-size: 1.5rem;
  }

  .phone {
    text-align: right;
    margin-left: 15rem;
    font-size: 1.5rem;
    color: #101010;
  }

  .title {
    font-size: 3rem;
    font-weight: 600;
    color: #ffffff;
    margin-left: 4rem;
  }
}
